.img-container{
    background: url(http://demo.warptheme.com/images/placeholder_600x400_2.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    border: 1px solid black;
}