.home-jumbo {
    background: url('../img/home-hero.png') 50% 50%;
}

#bttnCtxt {
    float: right;
}
#updateCart{
    margin-bottom: 15px;
}

/*.product-list .card{*/
/*    max-height: 35em;*/
    
/*}*/

.product-list .card img {
    width: 100%;
    height: auto;
   
}
.card-prod-list .card-body {
    height: 15em;
}


